{% extends 'games/base.html' %}
{% load static %}
{% block title %} {{ game.title }} {% endblock title %}
{% block container %}
    <div class="container py-md-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
{% endblock container %}
{% block sidebar %}
    <div class="side-bar col-lg-4">
{% endblock sidebar %}
{% block game %}
<div class="left-ads-display col-lg-8">
        <div class="row">
            <div class="desc1-left col-md-6">
                <img src="{{ company.image.url }}" class="img-fluid" alt="">
            </div>
            <div class="desc1-right col-md-6 pl-lg-4">
                <h3 class="editContent">
                    {{ game.title }}
                </h3>
                <h5 class="editContent"></h5>
            </div>
        </div>
        <div class="row sub-para-w3layouts mt-5">
                <ul>
                        <h3 class="shop-sing editContent" style="outline: none; cursor: inherit;">
                            О компании {{ company.name }}
                        </h3>
                    <li>
                        <span><b>Год:</b> {{ company.year }}</span>
                    </li>
                    <li>
                        <span><b>Страна:</b> {{ company.country }}</span>
                    </li>
                    <li>
                        <span><b>Описание компании</b>
                            {% for company in game.company.all %}
                                {{ company.name }}
                            {% endfor %}
                        </span>
                    </li>
                </ul>
            <p class="editContent" style="outline: none; cursor: inherit;">
                {{ company.description }}
            </p>
        </div>
        <hr>
        <div>
            <li>
                <span><b>Игры компании :</b>
                    <div>
                    {% for game in company.related_company.all %}
                            <a>{{ game.title }}</a>
                            <img src="{{ game.poster.url }}" width="80" height="auto" alt="">
                    {% endfor %}
                    </div>
                </span>
            </li>
        </div>

    </div>
{% endblock game %}